App {
height: 100%;
display: flex;
color: red;
}

.App__Aside {
 width: 100%;
 background-color: #66DAC7;
}

.App__Form {
width: 100%;
background-color: #2E4158;
padding: 28 px 40px;
overflow: auto;
}